.cut-bl {
    position: relative;
}

.cut-bl::before{
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 0;
    height: 0;
    border-right: 8em solid transparent !important;
    border-bottom: 8em solid var(--main-theme-color);
    clear: both;
    clip: rect(auto);
}

@media (min-width: 576px) and (max-width: 992px) {
    .container {
        max-width: 100% !important;
    }
}

.mobile-video {
    padding: 0 !important;
}