.slideshow-image-fit {
  width: 100%;
  height: auto;
}

.slide-container{
    max-height: 600px;
    overflow: hidden;
}

.carousel-caption {
	margin-bottom: 5%;
	color: #4BBDEC;
	/* background: rgba(100, 100, 100, .6); */
	font-family: 'MavenPro-Bold', sans-serif;
}

@media (max-width: 1920px) {
	.slide-container{
	    max-height: 600px;
	    overflow: hidden;
	}	
}

@media (min-width: 1920px) {
	.slide-container{
	    max-height: 1200px;
	    overflow: hidden;
	}	
}