.bg-testimonial .carousel-control-prev,
.bg-testimonial .carousel-control-next {
	width: 5% !important;
}

.bg-testimonial .carousel-control-prev {
	left: -10%;
}

.bg-testimonial .carousel-control-next {
	right: -10%;
}

.bg-testimonial {
	padding: 100px 0;
}

@media (max-width: 768px) {
	.bg-testimonial {
		padding: 50px 20px;
	}
	#testimonials-slideshow .carousel-item {
		height: 425px;
	}
}