.reveal h1.no_upper,
.reveal h2.no_upper,
.reveal h3.no_upper,
.reveal h4.no_upper,
.reveal h5.no_upper,
.reveal h6.no_upper {
	text-transform: none;
}

.reveal section img {
    border: none;
    box-shadow: none;
    background: none;
}

.reveal section img.middle {
	vertical-align : middle;
}

.reveal .state-background {
  background: white;
}
.reveal {
  color: black;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  color: black;
}
.reveal img.icon {
  margin-bottom:0;
  margin-top:0;
  vertical-align: middle;
  width: 80px;
}
.reveal img.iconsmall {
  margin-bottom:0;
  margin-top:0;
  vertical-align: middle;
  width: 40px;
}